<!-- Edit Provider Section -->
<section class="page-section" id="edit-provider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Edit {{provider.company.company_name}} Info</h2>
        <hr class="divider my-4">
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Nested Row within Card Body -->
      <div class="row o-hidden border-0">
        <div class="col-lg-12">
          <form class="user" action="/providers/update/{{id}}" method="post">
            <div class="form-group row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                <label for="inputFirstName">Name</label>
                <input type="text" class="form-control form-control-user" name="firstname" id="inputFirstName" value="{{provider.name}}"  required>
              </div>
              
            </div>
            <div class="form-group">
              <label for="inputPosition">Position</label>
              <input type="text" class="form-control form-control-user" name="position" id="inputPosition" value="{{provider.position}}" required >
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control form-control-user" name="email" id="inputEmail" value="{{provider.company.email}}" required>
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputPhone">Phone</label>
                <input type="phone" class="form-control form-control-user" name="phone" id="inputPhone" value="{{provider.company.phone}}" required>
              </div>
            </div>
            <hr class="divider my-4">
            <div class="form-group">
              <label for="inputCompanyName">Company</label>
              <input type="text" class="form-control form-control-user" name="company_name" id="inputCompanyName"
                 value="{{provider.company.company_name}}" required>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" name="address" id="inputAddress" value="{{provider.company.address}}" required>
            </div>

            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city" id="inputCity" value="{{provider.company.city}}" required>
              </div>

  
            </div>
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label for="inputDescription">Description</label>
                <textarea class="form-control form-control-user" name="description" id="inputDescription" value="{{provider.company.description}}"
                  required></textarea>
              </div>
              <div class="col-sm-6">
                <label for="inputTagLine">Tag Line</label>
                <textarea class="form-control form-control-user" name="tagline" id="inputTagLine" value="{{provider.company.tagline}}" required></textarea>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Update Provider</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>